<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add connectionString="Data Source= CAGLAYAN;Initial Catalog=EYillik;User Id=sa;Password=1598753;pooling=yes; min pool size=20; max pool size=300;" name="MSSQL" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
 
  <system.net>
    <mailSettings>
      <smtp from="crmrepotmail@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="75dmoyillik@gmail.com" password="1598753_dmo" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="giris.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
